# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# SQLite / DB files
*.sqlite3

# Coverage reports
htmlcov/
.coverage
